<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hava Durumu</title>
    <link rel="stylesheet" href="static/css/veriler.css">
</head>
<body>
    <div class="container">
    <h2>Ortalama Sıcaklık ve Yağış Miktarı (Bodrum)</h2>
    <table border="1">
        <tr>
            <th>Tarih</th>
            <th>Ortalama Sıcaklık (°C)</th>
        </tr>
       {% for data in datas %}
        <tr>
            <td>{{ data.date }}</td>
            <td>{{ data.degree }}</td>
        </tr>
       {% endfor %}
    </table>
</div>
<div class="container">
    <h2>Ortalama Sıcaklık ve Yağış Miktarı (Ankara)</h2>
    <table border="1">
        <tr>
            <th>Tarih</th>
            <th>Ortalama Sıcaklık (°C)</th>
        </tr>
       {% for data in datas %}
        <tr>
            <td>{{ data.date }}</td>
            <td>{{ data.degree }}</td>
        </tr>
       {% endfor %}
    </table>
</div>
</body>
</html>
