<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>İklim Değişikliği Bilgilendirme</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>İklim Değişikliği Nedir?</h1>
        <p>İklim değişikliği, dünyanın genel iklim koşullarında meydana gelen uzun vadeli değişikliklerdir. Bu değişiklikler, atmosferdeki gazların artmasıyla birlikte ortaya çıkan sera etkisi, sanayileşme, kentselleşme ve ormansızlaşma gibi insan etkinlikleri ile doğal faktörlerin etkileşimi sonucunda gerçekleşir.</p>
        <p>İklim değişikliğinin sonuçları arasında artan sıcaklık, deniz seviyesinde yükselme, aşırı hava olayları ve biyolojik çeşitlilikte azalma bulunmaktadır. Bu değişiklikler, ekonomik, çevresel ve sosyal etkilere yol açabilir.</p>
        <p>İklim değişikliğiyle mücadele etmek için uluslararası anlaşmalar yapılmış, sera gazı emisyonlarını azaltmaya yönelik politikalar ve yenilenebilir enerji kaynaklarının kullanımı teşvik edilmiştir. Aşağıda grafik sayfasını aç butonuna tıklayıp grafiği görebilirsiniz. </p>
        <a href="./graphic"><button id="graphicbtn">Grafik Sayfasını Aç</button></a>
        <h1>İklim Değişikliğini Nasıl Engelleriz?</h1>
        <ul>
            <li>Toplu Taşıma Kullanın</li>
            <li>Yeşil Alanları Koruyun</li>
            <li>Eco Dediğimiz Ekonomik Ve Doğa Dostu Eşyaları Kullanın</li>
            <li>Evlerinize Güneş Paneli Taktırın</li>
            <li>Fosil Yakıtları Kullanmaktan Kaçının</li>
        </ul>
    </div>
    
</body>
</html>
